<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        <style>
            .city {
              background-color: rgba(255, 99, 71, 0.555);
              color: black;
              border: 2px solid black;
              margin: 20px;
              padding: 20px;
            }
        </style>
    
    </head>
<body>
    <div class = "container">
        <div class="row mt-5">
            <h1>상품 목록</h1>
        </div>

        <br><br>
        
        <div class="city">
            <a href="https://namu.wiki/w/%EB%8F%84%EB%9D%BC%EC%97%90%EB%AA%BD">
                <img src="../static/images/cardiogram.png" alt="HTML tutorial" style="width:100px;height:100px;">
            </a>
            클릭하세요
            <br>
            Although scientists developed vaccines to help protect people from COVID-19 in record time during the pandemic, developing an antiviral that targets SARS-CoV-2 — which is the virus that causes COVID-19 — has proved more complex.
        </div>
        <div class="city" style="c">
            <a href="https://namu.wiki/w/%EB%8F%84%EB%9D%BC%EC%97%90%EB%AA%BD">
                <img src="../static/images\consulting.png" alt="HTML tutorial" style="width:100px;height:100px;">
            </a>
            클릭하세요
            <br>
            There are a number of antivirals in development. Ridgeback Biotherapeutics and Merck Sharp & Dohme have just received approval for their oral antiviral molnupiravir to be used in COVID-19 patients in the U.K.
        </div>
        <div class="city">
            <a href="https://namu.wiki/w/%EB%8F%84%EB%9D%BC%EC%97%90%EB%AA%BD">
                <img src="../static/images\first-aid-kit.png" alt="HTML tutorial" style="width:100px;height:100px;">
            </a>
            클릭하세요
            <br>
            The decision came following the results of a phase 3 clinical trial that demonstrated a reduced risk of death or hospitalization by 50% compared with placebo. Merck is closely followed by Roche/Atea and Pfizer, who have their own candidate drugs in phase 2 and 3 trials.
        </div>
        <div class="city">
            <a href="https://namu.wiki/w/%EB%8F%84%EB%9D%BC%EC%97%90%EB%AA%BD">
                <img src="../static/images\medical-history.png" alt="HTML tutorial" style="width:100px;height:100px;">
            </a>
            클릭하세요
            <br>
            Although most orders were for molnupiravir, a quarter of a million were for Pfizer’s candidate drug PF-07321332 and HIV antiretroviral drug ritonavir, now formally called PAXLOVID. This was despite the pharmaceutical company not having published any clinical trial data for the candidate drug at the time.
        </div>
</body>
</html>